body {
    margin: 50px;
    padding-top: 60px;
}

.navbar
{
    background-color: gold;
}

.navbar .h1
{
    padding-top: 30px;
    color: oldlace;
    font-weight: bold;
}

.navbar-fixed-top
{
    height: 100px;
}

#errorDisplay
{
    margin: 35px 50px;
    padding: 10px;
}

.painter
{
    cursor: pointer;
}